#content{
  overflow: visible;
  text-align: center;
  font-size: 1.5rem;
}
#container{
  width: 100%;
}

#section-title{
  width: 15%;
  min-width: 180px;
  float: left;
  position: relative;
}
#section-image{
  width: 430px;
  min-width: 250px;
  float: left;
  position: relative;
}
#section-description{
  width: 40%;
  min-width: 250px;
  float: left;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
}
.inner-wrapper {
  position: relative;
}
