
<div class="container" id="scene" data-relative-input="true">
    <div data-depth="0.4" class="circle-text-wrapper align-vertical" #homeCircle>
      <img [src]="'../assets/home/outer text layer.svg'" class="background rotate outer-circle"
           style="text-align: center">
    </div>

    <div data-depth="0.50" class="circle-text-wrapper align-vertical">
      <img [src]="'../assets/home/MIDDLE text layer.svg'" class="background alt-rotate middle-circle">
    </div>

    <div data-depth="0.60" class="circle-text-wrapper align-vertical">
      <img [src]="'../assets/home/inner text layer.svg'" class="background rotate inner-circle">
    </div>
  </div>
