<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!--custom menu-->
<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a [routerLink]="''">Home</a></li>
      <li><a [routerLink]="'info'" href="#">About Me</a></li>
      <li><a href="#">Qualification</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>

<div [@routeAnimations]="prepareRoute(outlet)" style="position: relative">
  <body (wheel)="onScroll($event)">
    <router-outlet #outlet="outlet"></router-outlet>
  </body>
</div>


